.projects {
  position: absolute;
  width: 100%;
  height: 75%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
}

.mainText {
  padding-bottom: 100px;
}

.interests {
  margin: 3px;
  font-size: 1.25rem;
  padding-bottom: 200px;
}

.titleproject {
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .projects {
    margin: 10px;
    position: static;
    width: auto;
    height: auto;
  }
}
