.contato {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
}

.titleContato {
  animation: titlecontato 5s;
  position: absolute;
}

@keyframes titlecontato {
  0% {
    opacity: 0;
    right: 0%;
  }
  25% {
    opacity: 1;
  }
  50% {
    right: 45%;
  }
  100% {
    right: 37%;
  }
}
@media screen and (max-width: 768px) {
  .titleContato {
    animation: none;
  }
}
