.home {
  position: absolute;
  width: 100%;
  height: 75%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.span1 {
  display: none;
}

.typedTitle {
  padding: 30px;
  font-size: 2rem;
  animation: mymovetitle 6s;
}

.Sub {
  margin: 3px;
  animation: mymove 7s;
  font-size: 1.25rem;
  padding-bottom: 100px;
}

@keyframes mymovetitle {
  from {
    padding-bottom: 100px;
  }
  to {
    padding-bottom: 30px;
  }
}
@keyframes mymove {
  from {
    padding-bottom: 500px;
    opacity: 0;
  }
  to {
    padding-bottom: 100px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .iptFront {
    display: flex;
    flex-direction: column;
  }
  .home {
    position: static;
    width: auto;
    height: auto;
  }
}
