.cards__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding-top: 50px;
}

.cards__item {
  display: flex;
  margin: 0 3rem;
  padding-top: 10%;
}

.cards__item__link {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__img {
  width: 80%;
  height: 100%;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 10px 50px 10px;
}

.cards__item__text {
  color: black;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .cards__item {
    margin-bottom: 3rem;
    width: 100%;
  }
  .cards__item__img {
    width: 75%;
  }
  .cards__item__link {
    flex-direction: column;
  }
  .cards__item__info {
    padding: 30px 120px 10px 10px;
  }
}
