.hello-world1 {
  position: absolute;
  overflow-y: hidden;
  background-color: #deb887;
  top: 0;
  height: 100%;
  width: 50%;
}

.hello-world2 {
  position: absolute;
  overflow-y: hidden;
  background-color: #deb887;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
}

@media screen and (max-width: 768px) {
  .hello-world1 {
    position: static;
    padding-top: 15%;
    width: 100%;
  }

  .landingWrap {
    height: 92vh;
    width: 100%;
  }
}
