.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  border-radius: 25px;
  border: #deb887 solid;
}

.nome {
  position: absolute;
  left: 40%;
  top: 20%;
}

.sobreText {
  font-size: 1.25rem;
  line-height: 1.8;
  width: 70%;
  padding-bottom: 50px;
  padding-top: 20px;
}

.progress-icon {
  position: sticky;
  top: 12%;
  left: 10%;
}

@media screen and (max-width: 768px) {
  .sobreText {
    width: 80%;
  }
}
