.projects {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  color: black;
}

.mainText {
  padding-bottom: 100px;
  animation: projectmove 3s;
}

@keyframes projectmove {
  from {
    padding-bottom: 400px;
  }
  to {
    padding-bottom: 100px;
  }
}

.interests {
  margin: 3px;
  font-size: 1.25rem;
}

.titleproject {
  padding-bottom: 25px;
}
