.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.sobreText {
  font-size: 1.25rem;
  font-family: "Courier Prime", monospace;
  line-height: 1.8;
  width: 50%;
  padding-bottom: 50px;
}

.progress-icon {
  position: sticky;
  top: 0;
  left: 100%;
}
