* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .App {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
  }
}

body {
  background-color: #f0ffff;
}
/* body {
  width: 100%;

  height: 100vh;

  background-image: url

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  background-color: #ffffff;
}
 */
