* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .App {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
  }
}

body {
  background-color: #f0ffff;
}

a {
  color: black;
}
